.header {
    background-color: green;
    color: white;
    margin: 0;
}
h1.header {
    border-radius: 6px 6px 0 0;
    padding: 5px 15px 0 15px;
}
p.header {
    border-radius: 0 0 6px 6px;
    padding: 0 15px 15px 15px;
}